
#osteo_header { text-align: center; font-size: 4rem; color: white; background: #8c32a8; }
h1 { text-align: center; font-family: serif; font-size: 3rem; color: #7732a8; }

.display{
  position:relative;
}
.display img{
  position:absolute;
}
.display img #input_display{
  z-index: 1;
}
.display img #box_display{
  z-index: 2;
}
.display img #mask_display{
  z-index: 3;
}
